<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Alterar Login</title>
</head>
<body>
    <h1>Alterar Login</h1>
    <form action="/alterarSenha" method="POST">
        <label for="nomeUsuario">Nome:</label>
        <input type="text" id="nomeUsuario" name="nomeUsuario" required>
        <br><br>
        <label for="novoLogin">Nova Senha:</label>
        <input type="text" id="novaSenha" name="novaSenha" required>
        <br><br>
        <button type="submit">Alterar</button>
    </form>
    <br>
    <a href="/">Voltar</a>
</body>
</html>